.carousel {
    padding: 81px;
    position: relative;
    &__inner {
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        height: 50px;
        width: 31px;
    }
    .slick-next{
        left: auto;
        right: -66px;
    }
}